################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TruckManagement/src/TruckManagement/Properties/PublishProfiles
/TruckManagement/src/TruckManagement/.config
/.vs/Rammendo/v16/.suo
/.vs
/src/CsvTransporter/bin/Debug/netstandard2.0
/src/CsvTransporter/obj
/src/RammendoCsvService/bin/Debug
/src/RammendoCsvService/obj/Debug
/src/CsvImporter/bin/Debug
/src/.vs/RammendoCsvService/v16
/src/CsvImporter/obj/Debug
/src/Rammendo/obj/Debug
/src/Rammendo.Data/bin/Debug/netstandard2.0
/src/Rammendo.Data/obj/Debug/netstandard2.0
/src/Rammendo.Data/obj
/src/packages/Dapper.2.0.78
/src/Rammendo.Dom/bin/Debug
/src/Rammendo.Dom/obj/Debug
/src/Rammendo/bin/Debug
/src/.vs/Rammendo/v16
/src/.vs/Rammendo/config
/src/CsvImporter/obj/Release
/src/packages
/src/Rammendo/obj/Release
/src/Rammendo.API/bin
/src/Rammendo.API/obj
/src/Rammendo.API/Properties
/src/Rammendo.Data/bin/Release/netstandard2.0
*.user
/src/Rammendo.Dom/bin/Release
/src/Rammendo.Dom/obj/Release
/src/RammendoCsvService/obj/Release
src/.vs/Rammendo/DesignTimeBuild/.dtbcache.v2
*.xml
*.json
*.stamp
*.dll
*.cache
*.java
*.txt
*.jar
*.pdb
*.flata
*.flat
*.zip
*.o
*.s
*.class
*.apk
*.props
*.targets
*.deployment
src/AppRamendoMobile/AppRamendoMobile.Android/obj/Debug/100/_IsIncrementalBuild
src/AppRamendoMobile/AppRamendoMobile.Android/obj/Debug/100/_TelemetryProps
src/AppRamendoMobile/AppRamendoMobile.Android/obj/Debug/100/android/assets/machine.config
*.dex
*.so
*.inc
src/AppRamendoMobile/AppRamendoMobile.Android/obj/Debug/100/android/bin/packaged_resources
src/AppRamendoMobile/AppRamendoMobile.Android/obj/Debug/100/android_debug_keystore.flag
*.CopyComplete
src/AppRamendoMobile/AppRamendoMobile.Android/obj/Debug/100/designtime/Resource.designer.cs
*.aidl
*.properties
src/AppRamendoMobile/AppRamendoMobile.Android/obj/Debug/100/MonoAndroid,Version=v10.0.AssemblyAttributes.cs
*.flag
*.hash
src/AppRamendoMobile/AppRamendoMobile/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
src/AppRamendoMobile/AppRamendoMobile/obj/Debug/netstandard2.0/App.xaml.g.cs
src/AppRamendoMobile/AppRamendoMobile/obj/Debug/netstandard2.0/AppRammendoMobile.AssemblyInfo.cs
src/AppRamendoMobile/AppRamendoMobile/obj/Debug/netstandard2.0/Styles/Styles.xaml.g.cs
src/AppRamendoMobile/AppRamendoMobile/obj/Debug/netstandard2.0/Views/JobSelectionPage.xaml.g.cs
src/AppRamendoMobile/AppRamendoMobile/obj/Debug/netstandard2.0/Views/LoginPage.xaml.g.cs
src/AppRamendoMobile/AppRamendoMobile/obj/Debug/netstandard2.0/Views/RepartoSelectionPage.xaml.g.cs
src/AppRamendoMobile/AppRamendoMobile/obj/Debug/netstandard2.0/Views/WorkPage.xaml.g.cs
src/AppRamendoMobile/AppRamendoMobile.Android/obj/Debug/100/build.force
*.jetify
*.cfg
/src/AppRamendoMobile/AppRamendoMobile.Android/obj
/src/AppRamendoMobile/AppRamendoMobile/obj/Release/netstandard2.0
/src/Rammendo/bin/Release
/src/RammendoCsvService/bin/Release
