################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TruckManagement/src/TruckManagement/Properties/PublishProfiles
/TruckManagement/src/TruckManagement/.config
/.vs/Rammendo/v16/.suo
/.vs
/src/CsvTransporter/bin/Debug/netstandard2.0
/src/CsvTransporter/obj
/src/RammendoCsvService/bin/Debug
/src/RammendoCsvService/obj/Debug
/src/CsvImporter/bin/Debug
/src/.vs/RammendoCsvService/v16
/src/CsvImporter/obj/Debug
/src/Rammendo/obj/Debug
/src/Rammendo.Data/bin/Debug/netstandard2.0
/src/Rammendo.Data/obj/Debug/netstandard2.0
/src/Rammendo.Data/obj
/src/packages/Dapper.2.0.78
/src/Rammendo.Dom/bin/Debug
/src/Rammendo.Dom/obj/Debug
/src/Rammendo/bin/Debug
/src/.vs/Rammendo/v16
/src/.vs/Rammendo/config
/src/CsvImporter/obj/Release
/src/packages
/src/Rammendo/obj/Release
/src/Rammendo.API/bin
/src/Rammendo.API/obj
/src/Rammendo.API/Properties
/src/Rammendo.Data/bin/Release/netstandard2.0
*.user
/src/Rammendo.Dom/bin/Release
/src/Rammendo.Dom/obj/Release
/src/RammendoCsvService/obj/Release
src/.vs/Rammendo/DesignTimeBuild/.dtbcache.v2
